language: php
php:
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - nightly
install:
  - nvm install node
  - npm install
before_script:
  - npm install -g gulp
  - npm install gulp
  - cp plugins/versionpress/tests/test-config.sample.yml plugins/versionpress/tests/test-config.yml
  - sed -i.bak -e 's/end2end-test-type: .*/end2end-test-type: wp-cli/' plugins/versionpress/tests/test-config.yml

script: plugins/versionpress/tests/gulp run-tests